

.cardActivity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 20vh;
    border-radius: 25px;
    flex-direction: column;
    background-color: rgb(27, 26, 59);
    color: white;
    padding:1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s, color 0.3s;

    h3{
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 900;
    }

    p{
        color:rgb(27, 26, 59) ;
        font-weight: 500;
    }

    &:hover{

        color:rgb(27, 26, 59) ;
        background-color: rgb(103, 110, 165);
    }

     
}