

.cardActivity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11vw;
    border-radius: 25px;
    flex-direction: column;
    background-color: rgb(27, 26, 59);
    color: white;
    padding:1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s, color 0.3s;

    h3{
        font-size: 1vw;
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 900;
    }

    p{
        font-size: 1vw;
        color:rgb(27, 26, 59) ;
        font-weight: 500;
    }

    .IconActivity{
        font-size: 3vw;
    }

    &:hover{

        color:rgb(27, 26, 59) ;
        background-color: rgb(103, 110, 165);
    }
}

@media screen and (max-width: 767px) {

    .cardActivity{
        
        height: 4vw;
        width: 100%;
        h3{
            font-size: 4vw;
            margin-top: 1em;
            margin-bottom: 1em;
            font-weight: 900;
        }
    
        p{
            font-size: 3.5vw;
            color:rgb(27, 26, 59) ;
            font-weight: 500;
        }
    
        .IconActivity{
            font-size: 7vw;
        }
    
        &:hover{
    
            color:rgb(27, 26, 59) ;
            background-color: rgb(103, 110, 165);
        }
    }

}