*{
    margin: 0;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 4vw;
}

.Column{
  display: flex;
  flex-direction: column;
  align-items: center;
}


$darkBlue:#1B1A3B;
$darkPurple: #262855;
$pastelPurple:#676EA5;
$darkPink:#6E6998;


@keyframes apparition {
  0% {
    transform: translate3d(-50%, -50%, -500px) scale(0);
    opacity: 0;
    color: transparent;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
    color: white;
  }
}

.BannièreHome {
    display: flex;
    position: relative;
  
    img {
      object-fit: cover;
      width: 100%;
      z-index: -1;
    }
  
    .ApparitionLettre {
      display: flex;
      flex-direction: column;
      position:absolute;
      align-items: center;
      left: 38%;
      top: 33%;
      
      
        ul {
        display: flex;
        list-style: none;
        margin: 0;
        color: transparent;
        font-weight: 900;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        overflow: hidden;
        padding: 0;
      }
  
      .lettre {
        animation: apparition 0.7s cubic-bezier(1,-0.02,1,.66) forwards; 
        opacity: 0;
        font-size: 5vw;
      }

      .nom{

        .lettre:nth-child(1) {
          animation-delay: 0.2s;
          color: red; 
        }
        
        .lettre:nth-child(2) {
          animation-delay: 0.4s; 
        }
        
        .lettre:nth-child(3) {
          animation-delay: 0.6s; 
        }
        
        .lettre:nth-child(4) {
          animation-delay: 0.8s;
        }
        .lettre:nth-child(5) {
          animation-delay: 1s;
        }
    }

      .prenom{
          .lettre:nth-child(1) {
            animation-delay: 1.2s;
            color: red; 
          }
          
          .lettre:nth-child(2) {
            animation-delay: 1.4s; 
          }
          
          .lettre:nth-child(3) {
            animation-delay: 1.6s; 
          }
          
          .lettre:nth-child(4) {
            animation-delay: 1.8s; 
          }

          .lettre:nth-child(5) {
            animation-delay: 2s; 
          }
          
          .lettre:nth-child(6) {
            animation-delay: 2.2s; 
          }
          
          .lettre:nth-child(7) {
            animation-delay: 2.4s; 
        }
      }
    }
  }


  #Présentation{
    background-color:  $darkPurple;
    padding-bottom: 15%;
    

    h2{
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      left: 35%;
      top:-1.5em;
      width: 25%;
      background-color: $darkBlue ;
      padding: 2%;
      font-size: 3vw;
      display: flex;
      justify-content: center;
      color:white;
      font-weight: 900;
    }

    p{
      position: relative;
      left:12%;
      margin-top: 3% ;
      display: flex;
      width: 75%;
      color: white;
      justify-content: center;
      font-weight: 500;
      text-align: center;
      font-size: 2vw
      
    }
  }


  #Activité{
    background-color:$darkPink;
   
     
    h2{
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      left: 35%;
      top:-1.5em;
      width: 25%;
      background-color: $pastelPurple;
      padding: 3%;
      font-size: 3vw;
      display: flex;
      justify-content: center;
      color:white;
      font-weight: 900;
    }

    .CardActivitySection {
      display: flex;
      flex-direction: row;
      position: relative;
      left: 10vw;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 4vw;
      padding-bottom: 15%;

      
   }
}


#Réalisation{
  position: relative;

  background-color:$darkPurple ;
  padding-bottom: 10em;

  h2{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      left: 35%;
      top:-1.5em;
      width: 25%;
      background-color: $darkBlue;
      padding: 3%;
      font-size: 3vw;
      display: flex;
      justify-content: center;
      color:white;
      font-weight: 900;
  }

  .SectionCardRealisation{
    display: flex;
    position: relative;
    left:7%;
    flex-direction: column;
    gap: 4vw;
    width: 80%;
  }
}


#Compétence{
  background-color:$darkPink ;
  padding-bottom: 10em;

  h2{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      left: 35%;
      top:-1.5em;
      width: 25%;
      background-color: $pastelPurple;
      padding: 3%;
      font-size: 3vw;
      display: flex;
      justify-content: center;
      color:white;
      font-weight: 900;
  }

      
      .CompétenceSection{
        display: flex;

        .leftSection{
          width:80%;
        }

        .rightSection{
          display: flex;
          flex-direction: column;
          width: 20%;

          .Column{
            position: relative;
            right: 10%;
            top: 3em;
            background-color: #676EA5;
            border-radius: 20%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
          

          img{
            width: 30%;
            margin: 2em;
          }
        }
      }
  }

#Formations{

  background-color:$darkPurple ;

  h2{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      left: 35%;
      top:-1.5em;
      width: 25%;
      background-color: $darkBlue;
      padding: 3%;
      font-size: 3vw;
      display: flex;
      justify-content: center;
      color:white;
      font-weight: 900;
  }

  .SectionCardFormation{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 10em;
  }
}


#Contact{

  background-color:$darkPink ;

  h2{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      position: relative;
      left: 35%;
      top:-1.5em;
      width: 25%;
      background-color: $pastelPurple;
      padding: 3%;
      font-size: 3vw;
      display: flex;
      justify-content: center;
      color:white;
      font-weight: 900;
  }

  .IconContact{
    width: 20%;
    display: flex;
    gap: 10vw;
    position: relative;
    left: 40%;
    flex-direction: row;
    padding-bottom: 5em;
    color:$darkBlue;

    .envelope-icon{
      font-size: 5vw;
    }
    .Linkedin-icon{
      font-size: 5vw;
    }
  }
}


@media screen and (max-width: 767px) {

  h2{
    
    scale: 1.5;
  }
  
  .BannièreHome {
    padding-top: 7%;
    height: 60vw;

    .ApparitionLettre {
      
      top: 40%;
      scale: 2;
  }
}



#Présentation{
  background-color:  $darkPurple;
  padding-bottom: 15%;
  
  

  

  p{
    font-size: 4vw
  }
}

 

  #Réalisation{
    padding-bottom: 5em;
    .SectionCardRealisation{
      padding-top: 2em;
      width: 60%;
      left:16%;
      .row{
        flex-direction: column;
      }
    }
    
  }
  #Activité{

    .CardActivitySection {
      width: 70%;
      
      position: relative;
      left:12%;
      padding-bottom: 15%;




      .row{
        flex-direction: column;

        height: 100%;
        
      }

      
   }
}
  #Compétence{
    padding-bottom: 5em;

    .CompétenceSection{
      flex-direction: column;

      .leftSection{
        width:100%;
      }

      .rightSection{
        display: flex;
        flex-direction: column;
        width: 100%;

        .Column{
          right: 0;
          scale: 0.8;
        }
      }
    }
  }
  #Formations{
    .SectionCardFormation{
      padding-top: 2em;
      padding-left: 1em;
      display: flex;
      width: 90%;
      flex-direction: column;
      gap: 2em;
      padding-bottom: 5em;
      margin: 0;
    }
  }
  #Contact{

  
    .IconContact{
      gap: 10vw;
      left: 30%;
      flex-direction: row;
      padding-bottom: 1em;
      color:$darkBlue;
  
      .envelope-icon{
        font-size: 15vw;
      }
      .Linkedin-icon{
        font-size: 15vw;
      }
    }
  }
 
  }

  