

.Header {
    position: fixed;
    display:flex;
    background-color: black;
    height: 3.5em;
    flex-direction: row;
    width: 100%;
    z-index: 2;

    .partLeftNavigation{
        position: relative;
        width:15%;
        
    }
}

.LinkHome {
    scale: 0.7;
    display:flex ;
    position: relative;
    bottom: 10%;
    right: 10%;
    border-radius: 50%;
    
     
    .HomePicture{
        
        height: 2vw;
        background-color: white;
        border-radius: 50%;
        padding: 5%; 
    } 
}


.PartRightNavigation {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: flex-end;

    .faBars{
        font-size: 3vw;
        position: absolute;
        top: 20%;
        right: 10%;
        display: none;
        color: white;
    }
    
    ul{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        

        li{
            height: 100%;

    
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: white;
                text-decoration: none;
                padding:17px 2em ;
                font-weight: 500;
        
        

            &:hover{
                background-color: white;
                color: black;
                }
            }

        .githubLogo{
            
            position:relative;
            height: 2vw;
            background-color: white;
            border-radius: 50%;
        }
        }
    }
}

@media screen and (max-width: 767px) {

    .Header{
        height: 5vw;
    }

    .LinkHome {
        scale: 1;
        display:flex ;
        position: relative;
        top: 10%;
        left:10% ;
        border-radius: 50%;
        
         
        .HomePicture{
            
            height: 2vw;
            background-color: white;
            border-radius: 50%;
            padding: 5%; 
        } 
    }

    

    .PartRightNavigation{
        .faBars{
            display: block;
        }
        
        nav{
            position: relative;
            height: 2vh;
            top: 60%;
            display: none;
            &.visible{
                display: block;
            }
            ul{
                
                width: 20vw;
                background-color: black;
                display: flex;
                flex-direction: column;
                padding: 0;
                li{
                    width: 100%;
                    font-size: 2vw;
                    width: 100%;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        padding: 3vw 0vw 4vw 0;
                    }
                    .githubLogo{
                        scale: 2;
                    }
                }
    
            }
            
        }
    }
}

