

footer{
    background-color: #1B1A3B;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2em;

    p{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 767px) {
    footer{
        padding: 1em;
    
        p{
            font-size: 0.7em;
        }
    }
}